.active {
    color: indigo !important;
}
a:hover{
    color: red !important;
}
.kk{
    width: 100%;
}

ol:hover{
    color:black;
}

/*.koll {*/
/*    background-color: red;*/
/*}*/

navbar-brand{
    font-size: 10px;
}
#logo{
    font-size: x-small;
}